/* line 3, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
a {
  color: black;
}

/* line 6, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
a:hover {
  text-decoration: none;
  font-style: italic;
  color: black;
}

/* line 11, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.italic {
  font-style: italic;
}

/* line 15, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable ul {
  float: left;
  width: 300px;
  border-radius: 6px;
}

/* line 17, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable ul:after {
  clear: both;
  content: '';
  display: table;
}

/* line 24, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable li {
  transition: transform .2s;
}

/* line 45, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable {
  list-style-type: none;
}

/* line 47, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable:hover {
  cursor: move;
  cursor: grab;
}

/* line 51, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.sortable:active {
  cursor: grabbing;
}

/* line 56, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain:active {
  transition: opacity 200ms ease;
  opacity: .2;
}

/* line 84, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 150px;
}

/* line 90, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.titleBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  background-color: black;
}

/* line 98, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.titleBar div {
  padding: 25px 25px 10px 25px;
}

/* line 101, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.titleBar .username {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 109, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.navBar {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 113, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.navBar div {
  width: 120px;
  text-align: center;
}

/* line 119, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.submitMove {
  max-width: 300px;
  margin: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 126, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

/* line 133, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 136, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

/* line 141, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* line 145, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(1) {
  width: 46px;
}

/* line 148, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(2) {
  width: 46px;
}

/* line 151, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(3) {
  width: 120px;
}

/* line 154, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(4) {
  width: 69px;
}

/* line 157, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(5) {
  width: 70px;
}

/* line 160, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(6) {
  width: 41px;
}

/* line 163, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(7) {
  width: 39px;
}

/* line 166, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(8) {
  width: 48px;
}

/* line 169, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(9) {
  width: 49px;
}

/* line 172, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(10) {
  width: 46px;
}

/* line 175, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader > div:nth-child(11) {
  width: 46px;
}

/* line 178, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader .rankHeaderLines {
  position: absolute;
}

/* line 182, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader #playerRankingText {
  width: 160px;
}

/* line 185, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankHeader #scoreRankingText {
  width: 45px;
}

/* line 191, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain {
  margin-top: 10px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  align-items: center;
}

/* line 197, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(1) {
  width: 25px;
}

/* line 200, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(2) {
  width: 61px;
}

/* line 203, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(3) {
  width: 42px;
  text-align: center;
}

/* line 206, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(3) div {
  width: 20px;
}

/* line 212, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(4) {
  width: 27px;
  height: 13px;
  margin: 0px 10px;
  font-size: 9px;
  text-align: center;
}

/* line 219, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(5) {
  width: 130px;
}

/* line 222, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(6) {
  width: 69px;
}

/* line 225, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(7) {
  width: 55px;
}

/* line 228, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(8) {
  width: 45px;
  text-align: center;
}

/* line 231, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(8) div {
  width: 20px;
}

/* line 235, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(9) {
  width: 45px;
  text-align: center;
}

/* line 238, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(9) div {
  width: 20px;
}

/* line 242, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(10) {
  width: 45px;
  text-align: center;
}

/* line 245, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(10) div {
  width: 20px;
}

/* line 249, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(11) {
  width: 40px;
  text-align: center;
}

/* line 252, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(11) div {
  width: 20px;
}

/* line 256, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(12) {
  width: 48px;
}

/* line 259, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(13) {
  width: 60px;
}

/* line 262, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain > div:nth-child(14) {
  width: 23px;
}

/* line 266, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain .contestantPhoto {
  padding: 0px;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

/* line 274, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain .contestantPhoto img {
  width: 53px;
  margin-left: -5px;
  margin-top: -1px;
}

/* line 280, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.contestantBarMain .grabberRight {
  transform: rotate(180deg);
}

/* line 285, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.ui-sortable-placeholder {
  color: red;
  background-color: red;
  padding: 5px;
}

/* line 291, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.previousRankHidden {
  display: none;
}

/* line 295, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.previousRank {
  border-radius: 20%;
}

/* line 299, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.admin-inputs {
  margin-left: 50px;
}

/* line 303, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.messageInput {
  height: 200px;
  width: 800px;
}

/* line 308, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.logIn, .createUserName {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

/* line 313, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.logIn button, .createUserName button {
  margin: 10px;
}

/* line 317, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.logIn div, .createUserName div {
  margin: 5px;
}

/* line 323, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.hide {
  display: none;
}

/* line 327, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.adminTab {
  color: #912CEE;
}

/* line 331, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.scoringTable {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 200px repeat(17, 50px);
  grid-template-rows: 100px repeat(20, 20px);
}

/* line 338, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rotate90 {
  transform: rotate(270deg);
  width: 100px;
}

/* line 344, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.special input {
  width: 100%;
}

/* line 349, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.clearData, .addContestant {
  margin-top: 100px;
}

/* line 353, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.addedStock {
  color: green;
  font-size: 9px;
}

/* line 358, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.episodeCell {
  display: none;
  width: 400px;
  margin: 50px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid orange;
}

/* line 365, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.episodeCell > div:first-child {
  font-size: 2rem;
}

/* line 368, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.episodeCell #episodeNumber {
  font-size: 2rem;
}

/* line 371, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.episodeCell #episodeTitle {
  font-size: 1.8rem;
}

/* line 374, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.episodeCell #rewardWinner, .episodeCell #immunityWinner, .episodeCell #votedOff, .episodeCell .epCellInfo {
  font-size: 1rem;
}

/* line 379, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
button {
  padding: 5px 35px;
  background-color: #8EE7EC;
  border-radius: 5px;
  border: none;
  color: #010101;
}

/* line 388, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
button:hover {
  cursor: pointer;
}

/* line 391, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.logOut:hover {
  cursor: pointer;
}

/* line 395, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.adminTab {
  display: none;
}

/* line 399, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.multiplier {
  position: absolute;
  top: 238px;
  left: calc(50% + 380px);
}

/* line 404, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.multiLine {
  position: absolute;
  top: 432px;
}

/* line 408, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.multiLineBottom {
  position: absolute;
  top: 1045px;
}

/* line 412, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.voteOff {
  position: absolute;
  top: 1055px;
  left: calc(50% + 380px);
}

/* line 418, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.containerScoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 423, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.containerScoreboard > div {
  margin-right: 20px;
}

/* line 428, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankingScoreboard {
  width: 280px;
  overflow: hidden;
}

/* line 433, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankingsPlayers {
  background-color: black;
  color: white;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 440, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankingsPlayers .playerName {
  width: 120px;
}

/* line 443, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankingsPlayers .pointsScore {
  width: 50px;
  text-align: center;
}

/* line 447, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankingsPlayers .whiteCircle {
  width: 35px;
  text-align: center;
}

/* line 453, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.whiteRankings {
  background-color: white;
  color: black;
}

/* line 458, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankDescriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

/* line 463, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.rankDescriptions .rankingTitle {
  font-size: 1rem;
  font-weight: bold;
}

/* line 471, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.multiplierDiv {
  position: absolute;
  top: 224px;
  left: calc(50% + 360px);
  width: 50px;
  background-color: #E4F9DD;
  z-index: -1;
  border-radius: 6px;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

/* line 485, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.barBackground {
  position: absolute;
  left: calc(50%);
  transform: translate(-50%);
  height: 54px;
  width: 620px;
  background-color: #E4F9DD;
  z-index: -1;
  border-radius: 6px;
}

/* line 496, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.timesOneBackground {
  background-color: #EFFBEB;
}

/* line 499, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.graveyardBackground {
  background-color: #F9DDDD;
}

/* line 502, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.timesTwoBackground {
  background-color: #E4F9DD;
}

/* line 507, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.tooltipmeow {
  z-index: 100;
  position: relative;
}

/* line 511, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.tooltipmeowalt {
  z-index: 100;
}

/* line 513, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.tooltipmeowalt .tooltiptext {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

/* line 520, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.tooltipmeow .tooltiptext, .tooltipmeowalt .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  font-weight: lighter;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 550, /Users/michaelmeow/Desktop/fantasy_survivor/scss/input.scss */
.tooltipmeow:hover .tooltiptext, .tooltipmeowalt:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=../css/input.map */