

a {
  color: black;
}
a:hover {
    text-decoration: none;
    font-style: italic;
    color: black;
}
.italic {
  font-style: italic;
}

.sortable ul { float:left; width:300px;  border-radius:6px; }

.sortable ul:after {
  clear:both;
  content:'';
  display:table;
}
// .sortable li { background:lightblue;display:block; position:relative; padding:12px 6px; z-index:1; margin:5px 20px; overflow:hidden;}

.sortable li { transition:transform .2s; }
// .marker { opacity:0.0;transition:.2s height }
.ui-sortable-helper {
  // transform:scale(.9)
}
//
// .contestantBarMain {
//   -webkit-transition: all 2s;
//      -moz-transition: all 2s;
//           transition: all 2s;
// }
//
// .contestantBarMain.in {
//     opacity: 1;
// }
//
// .contestantBarMain:active{
//   opacity: .2;
//
// }
//
.sortable {
  list-style-type: none;
  &:hover{
    cursor:move;
    cursor: grab;
  }
  &:active{
    cursor: grabbing;
  }
}
.contestantBarMain{
  &:active{
  transition: opacity 200ms ease;
  opacity: .2;
}
}
// .placeholder {
//     background-color: yellow;
//      padding-right:10px;
//      padding-left:10px;
//      text-align:center;
//      width:600px;
//      height:2px;
// }
// .oGPlaceholder {
//   height: 53px;
// }

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 150px;
}

.titleBar {
  position: relative;
  @include flexRowCenter;
  align-items: flex-end;

  color: white;
  background-color: black;

  div {
    padding: 25px 25px 10px 25px;
  }
  .username {
    position: absolute;
        top: 28px;
        left: 50%;
        transform: translate(-50%, -50%);
  }
}

.navBar {
  max-width: 400px;
  margin: auto;
  @include flexRowCenter;
  div {
    width: 120px;
    text-align: center;
  }
}

.submitMove {
  max-width: 300px;
  margin: auto;
  margin-top: 35px;
  @include flexColumnCenter;
}

.rankWrapper {
  width: 100%;
  @include flexRowCenter;
  justify-content: center;
  margin-top: 50px;
}

.rankContents {
  @include flexColumnCenter;
}
.rank{
  @include flexColumnCenter;
  width: 700px;
}

.rankHeader {
  font-weight: bold;
  @include flexRowCenter;
  align-items: flex-end;
  & > div:nth-child(1) {
    width: 46px;
  }
  & > div:nth-child(2) {
    width: 46px;
  }
  & > div:nth-child(3) {
    width: 120px;
  }
  & > div:nth-child(4) {
    width: 69px;
  }
  & > div:nth-child(5) {
    width: 70px;
  }
  & > div:nth-child(6) {
    width: 41px;
  }
  & > div:nth-child(7) {
    width: 39px;
  }
  & > div:nth-child(8) {
    width: 48px;
  }
  & > div:nth-child(9) {
    width: 49px;
  }
  & > div:nth-child(10) {
    width: 46px;
  }
  & > div:nth-child(11) {
    width: 46px;
  }
  .rankHeaderLines {
    position: absolute;
  }

  #playerRankingText {
    width: 160px;
  }
  #scoreRankingText{
    width:45px;
  }
}


.contestantBarMain {
  margin-top: 10px;
  margin-right: 100px;
  @include flexRowCenter;
  display: none;
  align-items: center;
  & > div:nth-child(1) {
    width:25px;
  }
  & > div:nth-child(2) {
    width:61px;
  }
  & > div:nth-child(3) {
    width:42px;
    text-align: center;
    div{
      width: 20px;
    }
  }


  & > div:nth-child(4) {
    width:27px;
    height: 13px;
    margin:0px 10px;
    font-size: 9px;
    text-align: center;
  }
  & > div:nth-child(5) {
    width:130px;
  }
  & > div:nth-child(6) {
    width:69px;
  }
  & > div:nth-child(7) {
    width:55px;
  }
  & > div:nth-child(8) {
    width:45px;
    text-align: center;
    div{
      width: 20px;
    }
  }
  & > div:nth-child(9) {
    width:45px;
    text-align: center;
    div{
      width: 20px;
    }
  }
  & > div:nth-child(10) {
    width:45px;
    text-align: center;
    div{
      width: 20px;
    }
  }
  & > div:nth-child(11) {
    width:40px;
    text-align: center;
    div{
      width: 20px;
    }
  }
  & > div:nth-child(12) {
    width:48px;
  }
  & > div:nth-child(13) {
    width:60px;
  }
  & > div:nth-child(14) {
    width:23px;
  }

  .contestantPhoto {
    padding: 0px;
    width: 45px;
    height: 45px;
    overflow:hidden;
    border-radius: 50%;
    // border: 3px solid orange;

    img {
      width: 53px;
      margin-left: -5px;
      margin-top: -1px;
    }
  }
  .grabberRight{
    transform: rotate(180deg);
  }
}

.ui-sortable-placeholder {
  color: red;
  background-color: red;
  padding: 5px;
}

.previousRankHidden{
  display: none;
}

.previousRank{
  border-radius: 20%;
}

.admin-inputs {
  margin-left: 50px;
}

.messageInput {
  height: 200px;
  width: 800px;
}

.logIn, .createUserName {
  width: 300px;
  margin: auto;
  margin-top: 100px;

  button{
    margin: 10px;
  }

    div{
      margin:5px;
    }

}

.hide {
  display: none;
}

.adminTab {
  color: #912CEE;
}

.scoringTable {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 200px repeat(16, 40px) 80px 40px;
  grid-template-rows: 100px repeat(20, 25px);
  & > div{
    border: 1px solid lightgray;
  }
}

.rotate90 {
  transform: rotate(270deg);
  width: 100px;
}
.assignTribe {
  padding-left: 9px;
}
.special, .juryVotes{
  input{
    width: 100%;
  }
}

.clearData, .addContestant{
  margin-top: 100px;
}

.addedStock {
  color: darken(#8EE7EC,20%);
  font-size: 9px;
}

.episodeCell {
  display: none;
  width: 400px;
  margin: 50px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid orange;

  & >div:first-child{
    font-size: 2rem;
  }
  #episodeNumber{
    font-size: 2rem;
  }
  #episodeTitle{
    font-size: 1.8rem;
  }
  #rewardWinner, #immunityWinner, #votedOff, .epCellInfo{
    font-size: 1rem;
  }
}

button {
  padding: 5px 35px;
  background-color: #8EE7EC;
  border-radius: 5px;
  border: none;
  color: darken(grey, 50%);
  // font-weight: lighter;
}

button:hover {
  cursor:pointer;
}
.logOut:hover {
  cursor: pointer;
}

.adminTab {
  display: none;
}

.multiplier{
  position: absolute;
  top: 238px;
  left: calc(50% + 380px);
}
.multiLine{
  position: absolute;
  top: 432px;
}
.multiLineBottom{
  position: absolute;
  top: 1045px;
}
.voteOff {
  position: absolute;
  top:1055px;
  left: calc(50% + 380px);
}

.containerScoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & > div{
  margin-right: 20px;
  }
}

.rankingScoreboard{
  width: 280px;
  overflow: hidden;
}

.rankingsPlayers {
  background-color: black;
  color: white;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .playerName {
    width: 120px;
  }
  .pointsScore {
    width: 50px;
    text-align: center;
  }
  .whiteCircle {
    width: 35px;
    text-align: center;
  }
}

.whiteRankings {
  background-color: white;
  color: black;
}

.rankDescriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  .rankingTitle{
    font-size: 1rem;
    font-weight: bold;

  }

}

.multiplierDiv {
  position: absolute;
  top: 224px;
  left: calc(50% + 360px);
  width: 50px;
  background-color: #E4F9DD;
  z-index: -1;
  border-radius: 6px;
  color: darken(darkgray, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.barBackground {
  position: absolute;
  left: calc(50%);
  transform: translate(-50%);
  height: 54px;
  width: 620px;
  background-color: #E4F9DD;
  z-index: -1;
  border-radius: 6px;
}

.timesOneBackground {
  background-color: #EFFBEB;
}
.graveyardBackground {
  background-color: #F9DDDD;
}
.timesTwoBackground {
  background-color: #E4F9DD;
}

// tooltip
.tooltipmeow {
    z-index: 100;
    position: relative;
}
.tooltipmeowalt{
  z-index: 100;
  .tooltiptext{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
  }
}

.tooltipmeow .tooltiptext, .tooltipmeowalt .tooltiptext {
  visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}


// .tooltipmeow .tooltiptext::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: #555 transparent transparent transparent;
// }

.tooltipmeow:hover .tooltiptext, .tooltipmeowalt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hidden{
  display: none;
}

h3 {
  margin: 20px;
  margin-top: 60px;
}

.timer {
  width: 500px;
  text-align: center;
  height: 18px;
}

.submitMove {
  vertical-align: top;
  height: 46px;
}

.deadZone {
  margin-top: 30px;
  height: 54px;
  width: 620px;

  z-index: -1;
  border-radius: 6px;
}

.contestantBarDead {
  background-color: lighten(#000000, 95%);
  border-radius: 6px;
  width: 618px;
  height: 54px;
  margin-top: 1px;
  margin-right: 100px;
  @include flexRowCenter;
  justify-content: flex-start;
  display: none;
  align-items: center;
  & > div:nth-child(1) {
    position:relative;
    left: -63px;
  }
  & > div:nth-child(2) {
    width:27px;
    height: 13px;
    margin:0px 10px;
    font-size: 9px;
    text-align: center;
    position:relative;
    // left: -80px;
  }
  & > div:nth-child(3) {
    width:130px;
  }
  & > div:nth-child(4) {
    width:69px;
  }
  & > div:nth-child(5) {
    width:55px;
  }
  & > div:nth-child(6) {
    width:69px;
  }
  & > div:nth-child(7) {
    width:55px;
  }

    .contestantPhoto {
      padding: 0px;
      width: 45px;
      height: 45px;
      overflow:hidden;
      border-radius: 50%;
      // border: 3px solid orange;

      img {
        width: 53px;
        margin-left: -5px;
        margin-top: -1px;
        filter: grayscale(100%);
      }
    }
}

.episodeRowComparison {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
    margin-right: 15px;

  .comparativeEpisode {
      cursor: pointer;
  }
  .invalidEpisode{
    color: gray;
    cursor: default;
  }
  div{
    padding-left: 5px;
    padding-right: 6px;
    font-weight: bold;
    margin-left: -5px;
    margin-right: 5px;
  }
}

.comparisonTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comparisonTableContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comparisonTable{
  margin-top: 11px;
  width: 135px;
  .comparisonTitle{
    font-weight: bold;
  }
  .comparisonMoves{
    font-size: 10px;
    line-height: 17px;
    .comparisonMovesDiv{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.linesSvg{
  position: relative;
  top: -374px;
  svg{
    stroke: gray;
  }
}
.linesSvgOne{
  position: absolute;
  top: 0px;
}
.linesSvgTwo{
  position: absolute;
  top: 20px;
  left: 140px;
}

.activeEpisode {
  background-color: #8EE7EC;
  border-radius: 50%;
}

.comparison {
  margin-bottom: 10px;
}

.rankingsPlayers {
  cursor: pointer;
}

.green {
  color: darken(#E4F9DD,50%);
}
.lightgreen {
  color: darken(#EFFBEB,30%);
}
.red {
  color: lightcoral;
}
